body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-right: 10px;
}

form input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

table th {
    background-color: #4CAF50;
    color: white;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

footer {

    color: #4CAF50;
    text-align: center;
    padding: 30px 0px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: blue;
}